{% extends 'base.html'  %}
{% load static %}

{% block extra_seo %}
<meta property="og:type" content="profile">
<meta property="profile:first_name" content="Maria">
<meta property="profile:last_name" content="Dong">
<meta property="profile:username" content="mariadongwrites">
<script src="https://kit.fontawesome.com/fe05e6a54c.js" crossorigin="anonymous"></script>
{% endblock extra_seo %}

{% block body_classes %}
leading-relaxed text-lg md:text-xl lg:text-2xl mb-4
{% endblock body_classes %}
{% block body %}
<div id="header-box">
    <h1 class="{% include 'partials/components/_h1.html' %}">{{ page_data.seo.title }}</h1>
</div>
<div class="w-100 flex flex-col md:flex-row my-4 py-4">
    <div 
        class="flex flex-col md:basis-2/6 items-center">
        <img 
            src="{{ page_data.author_photo.photo_url }}" 
            alt="A smiling photo of author Maria Dong" 
            class="mx-auto my-4 shrink-1 w-5/6"
        >
        {% if page_data.author_photo.photographer_attribution %}
        <p class="text-center text-sm my-3 py-2 w-5/6 font-rocksalt bg-zinc-900">
            Photo by
            <a href="{{page_data.author_photo.photographer_url}}" 
                class="decoration-solid decoration-from-font"
            >
                {{ page_data.author_photo.photographer_attribution }}
            </a>
        </p>
        {% endif %}
        {% if page_data.author_photo.makeup_attribution %}
        <p class="text-center text-sm my-3 py-2 w-5/6 font-rocksalt bg-zinc-900">
            Hair and Makeup by  
            <a href="{{page_data.author_photo.makeup_url}}">
                {{ page_data.author_photo.makeup_attribution }}
            </a>
        </p>
        {% endif %}
    </div>
    <div
        class="flex flex-col md:basis-4/6">
        <h2 class="text-center my-4 text-2xl lg:text-3xl font-rocksalt text-fuchsia-500">
            Short Biography
        </h2>
        <div 
            class="w-5/6 mx-auto my-2 text-left"
        >
            {{ page_data.short_biography|safe }}
        </div>
        <h2 class="text-center mt-8 mb-4 text-2xl lg:text-3xl font-rocksalt text-fuchsia-500">
            Extended Biography
        </h2>
        <div 
            id="book-description"
            class="w-5/6 mx-auto my-2 text-left"
        >
            {{ page_data.long_biography|safe }}
        </div>
    </div>
</div>
<h2 class="bg-purple-900/25 text-center px-4 pt-20 pb-16 mb-0 text-3xl font-rocksalt text-amber-400">
    Reach out to Maria on social!
</h2>
<div class="w-100 flex flex-col mt-0 mb-4 py-4 bg-purple-900/25 pb-20 px-4">
   <ul class="flex flex-row justify-evenly w-6/6 md:w-4/6 md:mx-auto">
       {% for icon in page_data.social_icons %}
       <li>
            <a 
                aria-label="{{icon.alt_text}}"
                class="text-fuchsia-500 text-5xl md:text-8xl"
                href="{{icon.link}}"
                target="_blank"
                title="{{icon.alt_text}}"
            >
                <i class="{{icon.fa_abbreviation}}"></i>
            </a>
       </li>
       {% endfor %}
   </ul>
   <h2 class="text-center mt-10 text-3xl font-rocksalt text-amber-400">
    ...Or send Maria an email.
    </h2>
   {% include 'partials/contact_form/_contact-form.html' %}
</div>

{% endblock body %}
{% block additional_js %}
{% endblock additional_js %}