{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
		{% tailwind_css %}
	</head>

	<body class="
		purple-black-body-gradient
		text-slate-100 
		font-serif 
		leading-normal 
		tracking-normal
		">
		<div class="lg:container mx-auto {% block body_classes %}{% endblock %}">
		{% block navbar %}
			{% include 'partials/nav_menu/_navbar.html' %}
		{% endblock navbar %}

		{% block body %}
		{% endblock body %}
		</div>
	</body>
	<footer>
		{% block additional_js %}{% endblock %}
		<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</footer>
</html>
