{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		{% block title %}<title>Maria Dong, Author | {{ seo_block.title|safe }}</title>
		{% endblock title %}
		{% block description %}
		<meta name="description" content="{{ seo_block.description|safe }}">
		{% endblock description %}

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

		{% block seo %}
		<meta property="og:title" content="{{ seo_block.og_title|safe }}">
		<meta property="og:url" content="https://www.mariadong.com{{request.get_full_path}}">
		<meta property="og:image" content="{{ seo_block.og_image|safe }}">
		<meta property="og:site_name" content="MariaDong.Com">
		<meta property="og:description" content="{{ seo_block.og_description }}">
		<meta property="og:type" content="{{ seo_block.og_type }}">
		{% endblock seo %}
		
		{% block extra_seo %}
		{% endblock extra_seo %}
		{% tailwind_css %}
		{% include 'partials/js_snippets/_mailchimp.html' %}
	</head>

	<body class="
		purple-black-body-gradient
		text-slate-100 
		font-serif 
		leading-normal 
		tracking-normal
		">
		<div class="lg:container mx-auto {% block body_classes %}{% endblock %}">
		{% block navbar %}
			{% include 'partials/nav_menu/_navbar.html' %}
		{% endblock navbar %}

		{% block body %}
		{% endblock body %}
		</div>
	</body>
	<footer>
		{% block additional_js %}{% endblock %}
		<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</footer>
</html>
