{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		{% include 'partials/seo/_seo-block.html' %}
		{% block extra_seo %}
		{% endblock extra_seo %}
		{% tailwind_css %}
	</head>

	<body class="
		purple-black-body-gradient
		text-slate-100 
		font-serif 
		leading-normal 
		tracking-normal
		">
		<div class="lg:container mx-auto {% block body_classes %}{% endblock %}">
		{% block navbar %}
			{% include 'partials/nav_menu/_navbar.html' %}
		{% endblock navbar %}

		{% block body %}
		{% endblock body %}
		</div>
	</body>
	<footer>
		{% block additional_js %}{% endblock %}
		<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</footer>
</html>
