{% extends 'base.html'  %}
{% load static %}

{% if object.seo_block %}

    {% block title %}<title>Maria Dong, Author | {{ object.seo_block.title }}</title>
    {% endblock title %}

    {% block description %}
    <meta name="description" content="{{ object.seo_block.description }}">
    {% endblock description %}

    {% block seo %}
    <meta property="og:title" content="{{ object.seo_block.title }}">
    <meta property="og:url" content="https://www.mariadong.com{{request.get_full_path}}">
    <meta property="og:image" content="{{ object.cover_image.cover_image.url }}">
    <meta property="og:site_name" content="MariaDong.Com">
    <meta property="og:description" content="{{ object.seo_block.og_description }}">
    <meta property="og:type" content="{{ object.seo_block.og_type }}">
    {% endblock seo %}

{% endif %}

{% block extra_seo %}
    {% if object.isbn %}
    <meta property="book:isbn" content="{{ object.isbn }}">{% endif %}
    <meta property="book:author" content="Maria Dong">
    {% if object.publication_date %}
    <meta property="book:release_date" content="{{ object.publication_date }}">{% endif %}
    {% for tag in object.tags.all %}
    <meta property="book:tag" content="{{ tag }}">
    {% endfor %}

{% endblock extra_seo %}

{% block body_classes %}
leading-relaxed lg:leading-loose text-lg md:text-xl lg:text-2xl mb-4
{% endblock body_classes %}

{% block body %}
<div id="header-box">
    <h1 class="text-center text-xs font-rocksalt text-amber-400 opacity-0">{{ object.title }}</h1>
</div>
<div id="two-column-container" class="w-100 flex flex-col md:flex-row">
    <div 
        id="left-column"
        class="flex flex-col md:basis-2/6">
        <img 
            src="{{ object.cover_image.cover_image.url }}" 
            alt="Cover image for {{object.title}}" 
            id="cover"
            class="mx-auto my-4 shrink-1 w-5/6"
        >

        {% if object.publication_date %}
        <p class="text-center my-4 text-xl lg:text-2xl font-rocksalt text-amber-400">
            Coming {{ object.publication_date }}
        </p>
        <p class="text-center my-4 text-xl lg:text-2xl font-rocksalt text-amber-400">
            From {{ object.publisher }}
        </p>
        {% endif %}
        <ul 
            id="buy-links"
            class="flex flex-col w-100 mx-8 my-4"
        >
            {% with object.purchaselink_set.all as buy_links %}
            {% if buy_links %}
            {% for link in buy_links %}
            <li>
                <a 
                    href="{{ link.url }}"
                    class="{% include 'partials/books/_buy-link.html' %} font-robotoslab"
                >{{ link.retailer_display_text }}</a>
            </li>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% if object.goodreads_link %}
            <li>
                <a 
                    href="{{ object.goodreads_link }}"
                    class="{% include 'partials/books/_buy-link.html' %} font-robotoslab"
                >Add on Goodreads</a>
            </li>
            {% endif %}
        </ul>
        
    </div>
    <div id="right-column"
        class="flex flex-col md:basis-4/6">
        <h2 class="text-center mt-8 mb-4 text-2xl lg:text-3xl font-rocksalt text-fuchsia-500">
            Description
        </h2>
        <div 
            id="book-description"
            class="w-5/6 mx-auto my-2 leading-normal"
        >
            {{ object.long_description|safe }}
        </div>
    </div>
</div>

{% with object.featurelink_set.all as feature_links %}
{% if feature_links %}
<h2 class="text-center my-4 text-2xl lg:text-3xl font-rocksalt text-amber-400">
    As featured in
</h2>
<div 
    id="recommended-by"
    class="w-5/6 mx-auto my-2 text-center"
>
    <p>
        {% for featured in feature_links %}
            <a 
                href="{{featured.link}}" 
                target="_blank" 
                class="text-white underline decoration-white"
            >{{ featured.venue }}</a>
            {% if not forloop.last %}
                <span class="font-robotoslab">*</span> 
            {% endif %}
        {% endfor %}
    </p>
</div>
{% endif %}
{% endwith %}
{% with object.bookextra_set.all as extras %}
{% if extras %}
    <h2 class="text-center mt-8 mb-4 text-2xl lg:text-3xl font-rocksalt text-fuchsia-500">
        Extras
    </h2>
    <ul id="extras" class="mx-8 my-4 list-disc flex flex-col">
        {% for extra in extras %}
        <li class="w-5/6 mx-auto">
            <a 
                href="{{ extra.url }}" 
                class="text-amber-400 decoration-solid decoration-amber-400"
                target="_blank"
            ><strong>{{ extra.display_text }}</strong></a>:
            {{ extra.description|safe }}
        </li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
{% with object.blurb_set.all as blurbs %}
{% if blurbs %}
    <h2 class="text-center mt-8 mb-4 text-2xl lg:text-3xl font-rocksalt text-amber-400">
        Praise
    </h2>
    <ul 
        id="blurb-cards"
        class="flex flex-col block"
    >
        {% for blurb in blurbs %}
        <li class="book-blurb-card w-5/6 mx-auto my-4">
            <p class="leading-normal">“{{ blurb.long_blurb }}”</p>
            <p class="mt-2">—<span class="font-rocksalt text-amber-400">{{ blurb.attribution_name}}</span>{% if blurb.attribution_description %}, 
                {{ blurb.attribution_description }} 
                <span class="font-rocksalt text-amber-400">{{ blurb.attribution_book }}{% endif %}</span></p>
        </li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
{% endblock body %}
{% block additional_js %}
{% endblock additional_js %}
