{% extends 'base.html'  %}
{% load static %}

{% block body_classes %}
h-screen
{% endblock %}
{% block body %}
<style>
    .landing-picture {
        background-image: url("{% static 'images/LDT_Landing.png' %}");
    }
</style>
<div class="landing-layout" id="fullHeightContainer">
    <div class="min-h-0 min-w-0 landing-picture">
    </div>
        <div 
        class="flex justify-evenly lg:justify-center items-center landing-slider" 
        x-data="$store.slider"
    >
        <button 
            class="shrink-0 lg:shrink-1 mx-3 
                h-10 md:h-16 lg:h-10 
                w-10 md:w-16 lg:w-10 
                sm:ml-12 sm:mr-8 md:ml-16 lg:mx-6 lg:mb-4 landing-button-left"
            x-on:click="activeSlide = activeSlide === 1 ? slides.length : activeSlide - 1"
        >
            <img 
                src="{% static 'images/icons/left-arrow.svg' %}"
                class="h-10 md:h-16 w-10 md:w-16 opacity-50"
            >
        </button>
        <template 
            x-for="slide in $store.slider.slides"
            :key="slide.number"
        >
            <div 
                class="blurb-slide md:mx-8" 
                x-show="$store.slider.activeSlide === slide.number"
            >
                <div class="landing-quote">
                <p class="text-amber-400 font-caveat mx-auto mt-4 
                leading-6 text-xl sm:text-2xl short-devices-only" x-text="slide.quote"></p>
                <p class="text-amber-400 font-caveat mx-auto mt-4 
                leading-6 text-xl sm:text-2xl lg:text-3xl xl:text-4xl tall-devices-only" x-text="slide.long_quote"></p>
                </div>
                <div class="landing-attribution">
                <p class="font-caveat mx-auto mt-4 text-xl lg:text-3xl">
                    <span x-text="slide.attribution_name"></span>, 
                    <span x-text="slide.attribution_desc"></span>
                    <em><span x-text="slide.attribution_book"></span></em>
                </p>
                </div>
            </div>
        </template>
        <button 
            class="shrink-0 mx-3 
            h-10 md:h-16 lg:h-10 
            w-10 md:w-16 lg:w-10 
            sm:mr-12 sm:ml-8 md:mr-16 lg:mx-6 landing-button-right"
            x-on:click="activeSlide = activeSlide === slides.length ? 1 : activeSlide + 1"
        >
            <img 
                src="{% static 'images/icons/right-arrow.svg' %}"
                class="h-10 md:h-16 w-10 md:w-16 opacity-50"
            >
        </button>
    </div>
<div class="landing-call-to-action-button flex justify-center">
    <button 
        class="{% include 'partials/landing_page/_find-out-more.html' %}">
        Find Out More
    </button>
</div>
{% endblock body %}
{% block additional_js %}
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store(
            'slider', {
                'activeSlide': 1,
                'slides': [
                    {% for blurb in data.book.fields.blurbs %}
                    {
                        'number': {{ forloop.counter }},
                        'quote': "{{ blurb.short_blurb|safe }}",
                        'long_quote': "{{ blurb.long_blurb|safe }}",
                        'attribution_name': "{{ blurb.attribution_name|safe }}", 
                        'attribution_desc': "{{ blurb.attribution_description|safe }}",
                        'attribution_book': "{{ blurb.attribution_book|safe }}"
                    }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            }
        )
    });
</script>
{% include 'partials/js_snippets/_full_height_container.html' %}
{% endblock additional_js %}