{% extends 'base.html'  %}
{% load static %}

{% block extra_seo %}
{% endblock extra_seo %}

{% block body_classes %}
text-lg md:text-xl lg:text-2xl leading-relaxed md:leading-relaxed lg:leading-relaxed mb-4
{% endblock body_classes %}
{% block body %}
<div class="w-100 flex flex-col justify-center items-center mt-4 py-4 px-4 font-robotoslab lg:max-w-screen-lg lg:mx-auto">
    <script async src="https://eocampaign1.com/form/2c6f8424-fa1a-11f0-b476-7b599f2db40d.js" data-form="2c6f8424-fa1a-11f0-b476-7b599f2db40d"></script>
</div>
{% endblock body %}
{% block additional_js %}
{% endblock additional_js %}
