{% load static tailwind_tags %}
<!-- Nav Outer Container -->
<nav 
  class="sticky top-0 left-0 right-0 z-50 purple-black-body-gradient opacity-95" 
  id="mainNav"
  x-data="{isOpen: false}"
  @keydown.escape="isOpen = false"
  :class="{ 'shadow-lg' : isOpen }"
>
  <div class="mx-auto px-2 sm:px-6 lg:px-8 my-0 py-4 lg:pt-16">
    <!-- Top Block -->
    <div class="relative flex items-center justify-center mb-0 sm:mb-4 md:mb-6 lg:mb-8 xl:mb-12">
      <!-- button -->
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        {% include 'partials/nav_menu/_navbutton.html' %}
      </div>
      <!-- Name -->
      <div class="sm:mx-auto sm:mt-auto sm:mb-auto">
        <a 
          class="block w-auto font-rocksalt text-3xl sm:text-xl md:text-2xl lg:text-7xl neon-text"
          href="{% url 'home' %}"
        >Maria Dong</span>
      </div> <!-- End Name -->
    </div> <!-- End Top Block -->
    <div class="relative flex items-center justify-center">
        <div class="hidden sm:block">
          <ul class="flex space-x-4">
            {% for nav_link in nav_menu %}
            <li class="list-style-none">
              <a 
                href="{% url nav_link.url_name %}" 
                class="{% include 'partials/nav_menu/_navlink.html' %}">{{ nav_link.label }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>
  
    {% comment %} Mobile menu {% endcomment %}
    <div 
      class="sm:hidden z-50 purple-black-body-gradient" 
      id="mobile-menu"
      :aria-expanded="isOpen"
      :class="{ 
        'shadow-3xl absolute w-screen opacity-1 items-center justify-between': isOpen, 
        'hidden': !isOpen 
      }"
    >
      <div 
        class="px-2 pt-2 md:pb-3 space-y-1 w-screen opacity-1 h-screen"
        id="mobileMenuInner"
      >
        <ul class="flex flex-col">
          {% for nav_link in nav_menu %}
          <li>
            <a 
              href="{% url nav_link.url_name %}" 
              class="{% include 'partials/nav_menu/_mobile-navlink.html' %}"
            >{{ nav_link.label }}</a>
          </li>
        {% endfor %}
        </ul>
        <!-- Current: "bg-neutral-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <!-- <a href="#" class="bg-neutral-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Dashboard</a>
   -->
      </div>
    </div>
  </nav>