{% load static tailwind_tags %}
<!-- This example requires Tailwind CSS v2.0+ -->
<nav 
  class="relative top-0 left-0 right-0" 
  id="mainNav"
  x-data="{isOpen: false}"
  @keydown.escape="isOpen = false"
  :class="{ 'shadow-lg bg-fuchsia-900' : isOpen }"
>
    <div class="mx-auto px-2 sm:px-6 lg:px-8 my-0 sm:py-4 lg:py-8">
      <div class="relative flex items-center justify-between h-20 md:h-24">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          {% include 'partials/nav_menu/_navbutton.html' %}
        </div>
        <div class="flex-1 flex justify-center sm:justify-end sm:items-stretch items-center">
          <div class="sm:mr-auto sm:mt-auto sm:mb-auto">
            <a 
              class="block w-auto font-rocksalt text-3xl sm:text-xl md:text-2xl lg:text-2xl neon-text"
              href="/"
            >Maria Dong</span>
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              {% for nav_link in nav_menu %}
              <a href="{{ nav_link.url }}" class="{% include 'partials/nav_menu/_navlink.html' %}">{{ nav_link.label }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  
    {% comment %} Mobile menu {% endcomment %}
    <div 
      class="sm:hidden z-50" 
      id="mobile-menu"
      :aria-expanded="isOpen"
      :class="{ 
        'flex flex-col shadow-3xl absolute bg-fuchsia-900 h-screen w-screen opacity-1 items-center justify-between': isOpen, 
        'hidden': !isOpen 
      }"
    >
      <div class="px-2 pt-2 md:pb-3 space-y-1 w-screen opacity-1">
        {% for nav_link in nav_menu %}
        <a 
          href="{{ nav_link.url }}" 
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >{{ nav_link.label }}</a>
        {% endfor %}
        <!-- Current: "bg-neutral-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <!-- <a href="#" class="bg-neutral-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Dashboard</a>
   -->
      </div>
    </div>
  </nav>