@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rock Salt";
    src: url('/static/fonts/RockSalt-Regular.ttf');
}
@font-face {
    font-family: "Caveat";
    src: url('/static/fonts/Caveat-Variable.ttf');
}
@font-face {
    font-family: "Roboto Slab";
    src: url('/static/fonts/RobotoSlab-Variable.ttf');
}
.hero-fade-in {
    animation: fade-in 6s ease-out 1;
    animation-fill-mode: forwards;
}
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.landing-layout {
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        "...  img  img  img  img  img  img  ..."
        "...  img  img  img  img  img  img  ..."
        "...  img  img  img  img  img  img  ..."
        "...  img  img  img  img  img  img  ..."
        "sli  sli  sli  sli  sli  sli  sli  sli"
        "sli  sli  sli  sli  sli  sli  sli  sli"
        "sli  sli  sli  sli  sli  sli  sli  sli"
        "sli  sli  sli  sli  sli  sli  sli  sli"
        "sli  sli  sli  sli  sli  sli  sli  sli"
        "...  cta  cta  cta  cta  cta  cta  ..."
        "...  ...  ...  ...  ...  ...  ...  ...";

    @media (min-width: 640px) {
        grid-template-areas: 
            "...  img  img  img  img  img  img  ..."
            "...  img  img  img  img  img  img  ..."
            "...  img  img  img  img  img  img  ..."
            "...  img  img  img  img  img  img  ..."
            "sli  sli  sli  sli  sli  sli  sli  sli"
            "sli  sli  sli  sli  sli  sli  sli  sli"
            "sli  sli  sli  sli  sli  sli  sli  sli"
            "sli  sli  sli  sli  sli  sli  sli  sli"
            "...  cta  cta  cta  cta  cta  cta  ..."
            "...  ...  ...  ...  ...  ...  ...  ...";         
    }

    @media (min-width: 768px) {
        grid-template-areas: 
            "...  ...  ...  ...  ...  ...  ...  ... "
            "...  img  img  img  img  img  img  ... "
            "...  img  img  img  img  img  img  ... "
            "...  img  img  img  img  img  img  ... "
            "...  img  img  img  img  img  img  ... "
            "...  img  img  img  img  img  img  ... "
            "...  img  img  img  img  img  img  ... "
            "...  img  img  img  img  img  img  ... "
            "...  img  img  img  img  img  img  ... "
            "sli  sli  sli  sli  sli  sli  sli  sli "
            "sli  sli  sli  sli  sli  sli  sli  sli "
            "sli  sli  sli  sli  sli  sli  sli  sli "
            "sli  sli  sli  sli  sli  sli  sli  sli "
            "...  cta  cta  cta  cta  cta  cta  ... "
            "...  ...  ...  ...  ...  ...  ...  ... ";
    }
    /* @media (min-width: 1024px) {
        grid-template-areas:
            "...  ...  ...  ...  ...  ...  ...  .... ...  ... "
            "img  img  img  img  sli  sli  sli  sli  sli  sli "
            "img  img  img  img  sli  sli  sli  sli  sli  sli "      
            "img  img  img  img  sli  sli  sli  sli  sli  sli "      
            "img  img  img  img  sli  sli  sli  sli  sli  sli "      
            "img  img  img  img  sli  sli  sli  sli  sli  sli "      
            "img  img  img  img  sli  sli  sli  sli  sli  sli "      
            "img  img  img  img  sli  sli  sli  sli  sli  sli "      
            "img  img  img  img  ...  ...  ...  ...  ...  ... "      
            "img  img  img  img  cta  cta  cta  cta  cta  cta "
            "...  ...  ...  ...  ...  ...  ...  .... ...  ... ";
    } */
    @media (min-width: 1200px) {
        grid-template-areas:
            "img  img  img  img  img  sli  sli  sli  sli  sli  sli "      
            "img  img  img  img  img  sli  sli  sli  sli  sli  sli "      
            "img  img  img  img  img  sli  sli  sli  sli  sli  sli "      
            "img  img  img  img  img  sli  sli  sli  sli  sli  sli "      
            "img  img  img  img  img  sli  sli  sli  sli  sli  sli "      
            "img  img  img  img  img  sli  sli  sli  sli  sli  sli "      
            "img  img  img  img  img  cta  cta  cta  cta  cta  cta "      
            "...  ...  ...  ...  ...  ...  ...  .... ...  ...  ... "
            "...  ...  ...  ...  ...  ...  ...  .... ...  ...  ... ";
    }

}
.landing-picture {
    grid-area: img;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.landing-slider {
    grid-area: sli;
}
.landing-call-to-action-button {
    grid-area: cta;
}
.neon-text {
    text-shadow :
        0 0 19px rgb(229, 173, 228),
        0 0 80px rgb(242, 0, 255);
}
.purple-black-body-gradient {
    background: rgb(77,7,114);
    background: 
        linear-gradient(
            45deg, 
            rgba(77,7,114,1) 0%, 
            rgba(31,4,46,1) 10%, 
            rgba(0,0,0,1) 30%, 
            rgba(0,0,0,1) 69%, 
            rgba(31,4,46,1) 90%, 
            rgba(77,7,114,1) 100%
        )
        fixed;
}
.short-devices-only {
    @media (min-height: 800px) {
        display: none;
    }
}
.tall-devices-only {
    display: none;
    @media (min-height: 800px) {
        display: block;
    }
}
#book-description p {
    margin-bottom: 0.5em;
}
.book-blurb-card {
    flex-wrap: wrap;
}