<script>
    function resizeFullHeightContainer() {
        var navHeight = document.getElementById('mainNav').offsetHeight;
        var mainContainer = document.getElementById('fullHeightContainer');
        if (window.innerHeight > 1100 ) {
            mainContainer.style.height = (1100 - navHeight)+"px";
            var marginHeight = ((window.innerHeight - (navHeight + mainContainer.offsetHeight ))*.2)+"px"
            mainContainer.style.margin = marginHeight +" auto auto auto"
        } else {
            mainContainer.style.height = (window.innerHeight - navHeight)+"px";
        };
    }
    document.addEventListener('alpine:init', () =>  {
        resizeFullHeightContainer();
    });
    window.addEventListener('resize', resizeFullHeightContainer);
</script>