{% extends 'base.html'  %}
{% load static %}

{% block body_classes %}
h-screen flex flex-col justify-between
{% endblock %}
{% block body %}
<img src="{% static '/images/LDT_Landing_compressed.png' %}" class="w-72 grow-0 mx-auto">
<div 
    class="blurb-slider" 
    x-data="Alpine.store.slides"
    x-init="console.log(Alpine.raw(Alpine.store.slides))"
>
    <template x-for="slide in $store.slides" :key="slide.number" class="blurb-slide">
            <p class="text-amber-400 font-caveat w-4/6 mx-auto mt-4 
            grow-1 leading-6 text-xl" x-text="slide.quote">
            </p>
            <p class="font-caveat w-4/6 mx-auto mt-4 text-xl" x-text="slide.attribution">
                Attribution
            </p>
    </template>
        <!-- <div class="buttons">
            <button x-on:click='activeSlide= activeSlide === 1 ? slides.length : activeSlide - 1'>Prev</button>
            <button x-on:click='activeSlide= activeSlide === slides.length ? 1 : activeSlide + 1'>Next</button>
        </div> -->
</div>
<button class="color-white w-4/6 mx-auto mt-4 mb-4">Find Out More</button>
<p>.</p>
{% endblock body %}
{% block additional_js %}
<script id="BLURBS" type="javascript">
    document.addEventListener('alpine:init', () => {
        Alpine.store('slides' =
        [
        {% for blurb in data.book.fields.blurbs %}
            {
                'number': {{ forloop.counter }},
                'quote': '{{ blurb.blurb_content }}',
                'attribution': '{{ blurb.attribution_name }}, {{ blurb.attribution_description }}'
            }{% if not forloop.last %},{% endif %}
        {% endfor %}
        ])
    })
</script>
<script id="teset" type="javascript">
    document.addEventListener('alpine:init', () => {
        Alpine.store('test' = 'foo');
    })
</script>
{% endblock additional_js %}