{% extends 'base.html'  %}
{% load static %}

{% block body_classes %}
h-screen flex flex-col justify-between
{% endblock %}
{% block body %}
<img src="{% static '/images/LDT_Landing_compressed.png' %}" class="w-64 grow-0 mx-auto">
<div 
    class="blurb-slider"
    x-data="$store.slider"
>
    <template 
        x-for="slide in $store.slider.slides"
        :key="slide.number"
    >
        <div class="blurb-slide" x-show="$store.slider.activeSlide === slide.number">
            <p class="text-amber-400 font-caveat w-5/6 mx-auto mt-4 
            grow-1 leading-6 text-xl" x-text="slide.quote"></p>
            <p class="font-caveat w-5/6 mx-auto mt-4 text-xl">
                <span x-text="slide.attribution_name"></span>, 
                <span x-text="slide.attribution_desc"></span>
                <em><span x-text="slide.attribution_book"></span></em>
            </p>
        </div>
    </template>
</div>
<button class="color-white w-5/6 mx-auto mt-4 mb-4">Find Out More</button>
{% endblock body %}
{% block additional_js %}
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store(
            'slider', {
                'activeSlide': 1,
                'slides': [
                    {% for blurb in data.book.fields.blurbs %}
                    {
                        'number': {{ forloop.counter }},
                        'quote': "{{ blurb.short_blurb|safe }}",
                        'attribution_name': "{{ blurb.attribution_name|safe }}", 
                        'attribution_desc': "{{ blurb.attribution_description|safe }}",
                        'attribution_book': "{{ blurb.attribution_book|safe }}"
                    }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            }
        )
    });
</script>
{% endblock additional_js %}