<div>
    <form 
        method="post"
        class="flex flex-col justify-center items-center"
    >
    {% csrf_token %}
    <div class="{% include 'partials/contact_form/_field-wrapper.html' %}">
        {{form.sender_name.errors}}
        <label for "{{form.sender_name.id_for_label}}">Please enter your name.</label>
        <p>{{form.sender_name}}</p>
    </div>
    <div class="{% include 'partials/contact_form/_field-wrapper.html' %}">
        {{form.sender_email.errors}}
        <label for "{{form.sender_email.id_for_label}}">Please enter your email address.</label>
        <p>{{form.sender_email}}</p>
    </div>
    <div class="{% include 'partials/contact_form/_field-wrapper.html' %}">
        {{form.sender_subject.errors}}
        <label for "{{form.sender_subject.id_for_label}}">Please enter a subject.</label>
        <p>{{form.sender_subject}}</p>
    </div>
    <div class="{% include 'partials/contact_form/_field-wrapper.html' %}">
        {{form.message.errors}}
        <label for "{{form.message.id_for_label}}">What is your message?</label>
        <p>{{form.message}}</p>
    </div>
    <div class="{% include 'partials/contact_form/_field-wrapper.html' %}">
        {{form.dong_field.errors}}
        <p>
            <label for "{{form.dong_field.id_for_label}}">Verify you're not a bot by entering my last name in the box.</label>
        </p>
        <p class="fieldwrapper email-card">{{form.dong_field}}</p>
    </div>
    <div class="form-actions email-card">
    <button type="submit" class="email-card">Send</button>
    </div>
</form>
</div>
